<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>u1200</key>
	<array>
		<string>u1201</string>
		<string>u1202</string>
		<string>u1203</string>
		<string>u1204</string>
		<string>u1205</string>
		<string>u1206</string>
	</array>
	<key>u1208</key>
	<array>
		<string>u1209</string>
		<string>u120a</string>
		<string>u120b</string>
		<string>u120c</string>
		<string>u120d</string>
		<string>u120e</string>
		<string>u120f</string>
	</array>
	<key>u1210</key>
	<array>
		<string>u1211</string>
		<string>u1212</string>
		<string>u1213</string>
		<string>u1214</string>
		<string>u1215</string>
		<string>u1216</string>
		<string>u1217</string>
	</array>
	<key>u1218</key>
	<array>
		<string>u1219</string>
		<string>u121a</string>
		<string>u121b</string>
		<string>u121c</string>
		<string>u121d</string>
		<string>u121e</string>
		<string>u121f</string>
	</array>
	<key>u1220</key>
	<array>
		<string>u1221</string>
		<string>u1222</string>
		<string>u1223</string>
		<string>u1224</string>
		<string>u1225</string>
		<string>u1226</string>
		<string>u1227</string>
	</array>
	<key>u1228</key>
	<array>
		<string>u1229</string>
		<string>u122a</string>
		<string>u122b</string>
		<string>u122c</string>
		<string>u122d</string>
		<string>u122e</string>
		<string>u122f</string>
	</array>
	<key>u1230</key>
	<array>
		<string>u1231</string>
		<string>u1232</string>
		<string>u1233</string>
		<string>u1234</string>
		<string>u1235</string>
		<string>u1236</string>
		<string>u1237</string>
	</array>
	<key>u1238</key>
	<array>
		<string>u1239</string>
		<string>u123a</string>
		<string>u123b</string>
		<string>u123c</string>
		<string>u123d</string>
		<string>u123e</string>
		<string>u123f</string>
	</array>
	<key>u1240</key>
	<array>
		<string>u1241</string>
		<string>u1242</string>
		<string>u1243</string>
		<string>u1244</string>
		<string>u1245</string>
		<string>u1246</string>
		<string>u1247</string>
	</array>
	<key>u1248</key>
	<array>
		<string>u124a</string>
		<string>u124b</string>
		<string>u124c</string>
		<string>u124d</string>
	</array>
	<key>u1250</key>
	<array>
		<string>u1251</string>
		<string>u1252</string>
		<string>u1253</string>
		<string>u1254</string>
		<string>u1255</string>
		<string>u1256</string>
	</array>
	<key>u1258</key>
	<array>
		<string>u125a</string>
		<string>u125b</string>
		<string>u125c</string>
		<string>u125d</string>
	</array>
	<key>u1260</key>
	<array>
		<string>u1261</string>
		<string>u1262</string>
		<string>u1263</string>
		<string>u1264</string>
		<string>u1265</string>
		<string>u1266</string>
		<string>u1267</string>
	</array>
	<key>u1268</key>
	<array>
		<string>u1269</string>
		<string>u126a</string>
		<string>u126b</string>
		<string>u126c</string>
		<string>u126d</string>
		<string>u126e</string>
		<string>u126f</string>
	</array>
	<key>u1270</key>
	<array>
		<string>u1271</string>
		<string>u1272</string>
		<string>u1273</string>
		<string>u1274</string>
		<string>u1275</string>
		<string>u1276</string>
		<string>u1277</string>
	</array>
	<key>u1278</key>
	<array>
		<string>u1279</string>
		<string>u127a</string>
		<string>u127b</string>
		<string>u127c</string>
		<string>u127d</string>
		<string>u127e</string>
		<string>u127f</string>
	</array>
	<key>u1280</key>
	<array>
		<string>u1281</string>
		<string>u1282</string>
		<string>u1283</string>
		<string>u1284</string>
		<string>u1285</string>
		<string>u1286</string>
		<string>u1287</string>
	</array>
	<key>u1288</key>
	<array>
		<string>u128a</string>
		<string>u128b</string>
		<string>u128c</string>
		<string>u128d</string>
	</array>
	<key>u1290</key>
	<array>
		<string>u1291</string>
		<string>u1292</string>
		<string>u1293</string>
		<string>u1294</string>
		<string>u1295</string>
		<string>u1296</string>
		<string>u1297</string>
	</array>
	<key>u1298</key>
	<array>
		<string>u1299</string>
		<string>u129a</string>
		<string>u129b</string>
		<string>u129c</string>
		<string>u129d</string>
		<string>u129e</string>
		<string>u129f</string>
	</array>
	<key>u12a0</key>
	<array>
		<string>u12a1</string>
		<string>u12a2</string>
		<string>u12a3</string>
		<string>u12a4</string>
		<string>u12a5</string>
		<string>u12a6</string>
		<string>u12a7</string>
	</array>
	<key>u12a8</key>
	<array>
		<string>u12a9</string>
		<string>u12aa</string>
		<string>u12ab</string>
		<string>u12ac</string>
		<string>u12ad</string>
		<string>u12ae</string>
		<string>u12af</string>
	</array>
	<key>u12b0</key>
	<array>
		<string>u12b2</string>
		<string>u12b3</string>
		<string>u12b4</string>
		<string>u12b5</string>
	</array>
	<key>u12b8</key>
	<array>
		<string>u12b9</string>
		<string>u12ba</string>
		<string>u12bb</string>
		<string>u12bc</string>
		<string>u12bd</string>
		<string>u12be</string>
	</array>
	<key>u12c0</key>
	<array>
		<string>u12c2</string>
		<string>u12c3</string>
		<string>u12c4</string>
		<string>u12c5</string>
	</array>
	<key>u12c8</key>
	<array>
		<string>u12c9</string>
		<string>u12ca</string>
		<string>u12cb</string>
		<string>u12cc</string>
		<string>u12cd</string>
		<string>u12ce</string>
	</array>
	<key>u12d0</key>
	<array>
		<string>u12d1</string>
		<string>u12d2</string>
		<string>u12d3</string>
		<string>u12d4</string>
		<string>u12d5</string>
		<string>u12d6</string>
	</array>
	<key>u12d8</key>
	<array>
		<string>u12d9</string>
		<string>u12da</string>
		<string>u12db</string>
		<string>u12dc</string>
		<string>u12dd</string>
		<string>u12de</string>
		<string>u12df</string>
	</array>
	<key>u12e0</key>
	<array>
		<string>u12e1</string>
		<string>u12e2</string>
		<string>u12e3</string>
		<string>u12e4</string>
		<string>u12e5</string>
		<string>u12e6</string>
		<string>u12e7</string>
	</array>
	<key>u12e8</key>
	<array>
		<string>u12e9</string>
		<string>u12ea</string>
		<string>u12eb</string>
		<string>u12ec</string>
		<string>u12ed</string>
		<string>u12ee</string>
	</array>
	<key>u12f0</key>
	<array>
		<string>u12f1</string>
		<string>u12f2</string>
		<string>u12f3</string>
		<string>u12f4</string>
		<string>u12f5</string>
		<string>u12f6</string>
		<string>u12f7</string>
	</array>
	<key>u12f8</key>
	<array>
		<string>u12f9</string>
		<string>u12fa</string>
		<string>u12fb</string>
		<string>u12fc</string>
		<string>u12fd</string>
		<string>u12fe</string>
		<string>u12ff</string>
	</array>
	<key>u1300</key>
	<array>
		<string>u1301</string>
		<string>u1302</string>
		<string>u1303</string>
		<string>u1304</string>
		<string>u1305</string>
		<string>u1306</string>
		<string>u1307</string>
	</array>
	<key>u1308</key>
	<array>
		<string>u1309</string>
		<string>u130a</string>
		<string>u130b</string>
		<string>u130c</string>
		<string>u130d</string>
		<string>u130e</string>
		<string>u130f</string>
	</array>
	<key>u1310</key>
	<array>
		<string>u1312</string>
		<string>u1313</string>
		<string>u1314</string>
		<string>u1315</string>
	</array>
	<key>u1318</key>
	<array>
		<string>u1319</string>
		<string>u131a</string>
		<string>u131b</string>
		<string>u131c</string>
		<string>u131d</string>
		<string>u131e</string>
		<string>u131f</string>
	</array>
	<key>u1320</key>
	<array>
		<string>u1321</string>
		<string>u1322</string>
		<string>u1323</string>
		<string>u1324</string>
		<string>u1325</string>
		<string>u1326</string>
		<string>u1327</string>
	</array>
	<key>u1328</key>
	<array>
		<string>u1329</string>
		<string>u132a</string>
		<string>u132b</string>
		<string>u132c</string>
		<string>u132d</string>
		<string>u132e</string>
		<string>u132f</string>
	</array>
	<key>u1330</key>
	<array>
		<string>u1331</string>
		<string>u1332</string>
		<string>u1333</string>
		<string>u1334</string>
		<string>u1335</string>
		<string>u1336</string>
		<string>u1337</string>
	</array>
	<key>u1338</key>
	<array>
		<string>u1339</string>
		<string>u133a</string>
		<string>u133b</string>
		<string>u133c</string>
		<string>u133d</string>
		<string>u133e</string>
		<string>u133f</string>
	</array>
	<key>u1340</key>
	<array>
		<string>u1341</string>
		<string>u1342</string>
		<string>u1343</string>
		<string>u1344</string>
		<string>u1345</string>
		<string>u1346</string>
		<string>u1347</string>
	</array>
	<key>u1348</key>
	<array>
		<string>u1349</string>
		<string>u134a</string>
		<string>u134b</string>
		<string>u134c</string>
		<string>u134d</string>
		<string>u134e</string>
		<string>u134f</string>
	</array>
	<key>u1350</key>
	<array>
		<string>u1351</string>
		<string>u1352</string>
		<string>u1353</string>
		<string>u1354</string>
		<string>u1355</string>
		<string>u1356</string>
		<string>u1357</string>
	</array>
	<key>u1358</key>
	<array>
		<string>u1359</string>
		<string>u135a</string>
	</array>
</dict>
</plist>
