<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>u120</key>
	<dict>
		<key>u1200</key>
		<string>ሀ</string>
		<key>u1201</key>
		<string>ሁ</string>
		<key>u1202</key>
		<string>ሂ</string>
		<key>u1203</key>
		<string>ሃ</string>
		<key>u1204</key>
		<string>ሄ</string>
		<key>u1205</key>
		<string>ህ</string>
		<key>u1206</key>
		<string>ሆ</string>
		<key>u1207</key>
		<string>ሇ</string>
		<key>u1208</key>
		<string>ለ</string>
		<key>u1209</key>
		<string>ሉ</string>
		<key>u120a</key>
		<string>ሊ</string>
		<key>u120b</key>
		<string>ላ</string>
		<key>u120c</key>
		<string>ሌ</string>
		<key>u120d</key>
		<string>ል</string>
		<key>u120e</key>
		<string>ሎ</string>
		<key>u120f</key>
		<string>ሏ</string>
	</dict>
	<key>u121</key>
	<dict>
		<key>u1210</key>
		<string>ሐ</string>
		<key>u1211</key>
		<string>ሑ</string>
		<key>u1212</key>
		<string>ሒ</string>
		<key>u1213</key>
		<string>ሓ</string>
		<key>u1214</key>
		<string>ሔ</string>
		<key>u1215</key>
		<string>ሕ</string>
		<key>u1216</key>
		<string>ሖ</string>
		<key>u1217</key>
		<string>ሗ</string>
		<key>u1218</key>
		<string>መ</string>
		<key>u1219</key>
		<string>ሙ</string>
		<key>u121a</key>
		<string>ሚ</string>
		<key>u121b</key>
		<string>ማ</string>
		<key>u121c</key>
		<string>ሜ</string>
		<key>u121d</key>
		<string>ም</string>
		<key>u121e</key>
		<string>ሞ</string>
		<key>u121f</key>
		<string>ሟ</string>
	</dict>
	<key>u122</key>
	<dict>
		<key>u1220</key>
		<string>ሠ</string>
		<key>u1221</key>
		<string>ሡ</string>
		<key>u1222</key>
		<string>ሢ</string>
		<key>u1223</key>
		<string>ሣ</string>
		<key>u1224</key>
		<string>ሤ</string>
		<key>u1225</key>
		<string>ሥ</string>
		<key>u1226</key>
		<string>ሦ</string>
		<key>u1227</key>
		<string>ሧ</string>
		<key>u1228</key>
		<string>ረ</string>
		<key>u1229</key>
		<string>ሩ</string>
		<key>u122a</key>
		<string>ሪ</string>
		<key>u122b</key>
		<string>ራ</string>
		<key>u122c</key>
		<string>ሬ</string>
		<key>u122d</key>
		<string>ር</string>
		<key>u122e</key>
		<string>ሮ</string>
		<key>u122f</key>
		<string>ሯ</string>
	</dict>
	<key>u123</key>
	<dict>
		<key>u1230</key>
		<string>ሰ</string>
		<key>u1231</key>
		<string>ሱ</string>
		<key>u1232</key>
		<string>ሲ</string>
		<key>u1233</key>
		<string>ሳ</string>
		<key>u1234</key>
		<string>ሴ</string>
		<key>u1235</key>
		<string>ስ</string>
		<key>u1236</key>
		<string>ሶ</string>
		<key>u1237</key>
		<string>ሷ</string>
		<key>u1238</key>
		<string>ሸ</string>
		<key>u1239</key>
		<string>ሹ</string>
		<key>u123a</key>
		<string>ሺ</string>
		<key>u123b</key>
		<string>ሻ</string>
		<key>u123c</key>
		<string>ሼ</string>
		<key>u123d</key>
		<string>ሽ</string>
		<key>u123e</key>
		<string>ሾ</string>
		<key>u123f</key>
		<string>ሿ</string>
	</dict>
	<key>u124</key>
	<dict>
		<key>u1240</key>
		<string>ቀ</string>
		<key>u1241</key>
		<string>ቁ</string>
		<key>u1242</key>
		<string>ቂ</string>
		<key>u1243</key>
		<string>ቃ</string>
		<key>u1244</key>
		<string>ቄ</string>
		<key>u1245</key>
		<string>ቅ</string>
		<key>u1246</key>
		<string>ቆ</string>
		<key>u1247</key>
		<string>ቇ</string>
		<key>u1248</key>
		<string>ቈ</string>
		<key>u1249</key>
		<string></string>
		<key>u124a</key>
		<string>ቊ</string>
		<key>u124b</key>
		<string>ቋ</string>
		<key>u124c</key>
		<string>ቌ</string>
		<key>u124d</key>
		<string>ቍ</string>
		<key>u124e</key>
		<string></string>
		<key>u124f</key>
		<string></string>
	</dict>
	<key>u125</key>
	<dict>
		<key>u1250</key>
		<string>ቐ</string>
		<key>u1251</key>
		<string>ቑ</string>
		<key>u1252</key>
		<string>ቒ</string>
		<key>u1253</key>
		<string>ቓ</string>
		<key>u1254</key>
		<string>ቔ</string>
		<key>u1255</key>
		<string>ቕ</string>
		<key>u1256</key>
		<string>ቖ</string>
		<key>u1257</key>
		<string></string>
		<key>u1258</key>
		<string>ቘ</string>
		<key>u1259</key>
		<string></string>
		<key>u125a</key>
		<string>ቚ</string>
		<key>u125b</key>
		<string>ቛ</string>
		<key>u125c</key>
		<string>ቜ</string>
		<key>u125d</key>
		<string>ቝ</string>
		<key>u125e</key>
		<string></string>
		<key>u125f</key>
		<string></string>
	</dict>
	<key>u126</key>
	<dict>
		<key>u1260</key>
		<string>በ</string>
		<key>u1261</key>
		<string>ቡ</string>
		<key>u1262</key>
		<string>ቢ</string>
		<key>u1263</key>
		<string>ባ</string>
		<key>u1264</key>
		<string>ቤ</string>
		<key>u1265</key>
		<string>ብ</string>
		<key>u1266</key>
		<string>ቦ</string>
		<key>u1267</key>
		<string>ቧ</string>
		<key>u1268</key>
		<string>ቨ</string>
		<key>u1269</key>
		<string>ቩ</string>
		<key>u126a</key>
		<string>ቪ</string>
		<key>u126b</key>
		<string>ቫ</string>
		<key>u126c</key>
		<string>ቬ</string>
		<key>u126d</key>
		<string>ቭ</string>
		<key>u126e</key>
		<string>ቮ</string>
		<key>u126f</key>
		<string>ቯ</string>
	</dict>
	<key>u127</key>
	<dict>
		<key>u1270</key>
		<string>ተ</string>
		<key>u1271</key>
		<string>ቱ</string>
		<key>u1272</key>
		<string>ቲ</string>
		<key>u1273</key>
		<string>ታ</string>
		<key>u1274</key>
		<string>ቴ</string>
		<key>u1275</key>
		<string>ት</string>
		<key>u1276</key>
		<string>ቶ</string>
		<key>u1277</key>
		<string>ቷ</string>
		<key>u1278</key>
		<string>ቸ</string>
		<key>u1279</key>
		<string>ቹ</string>
		<key>u127a</key>
		<string>ቺ</string>
		<key>u127b</key>
		<string>ቻ</string>
		<key>u127c</key>
		<string>ቼ</string>
		<key>u127d</key>
		<string>ች</string>
		<key>u127e</key>
		<string>ቾ</string>
		<key>u127f</key>
		<string>ቿ</string>
	</dict>
	<key>u128</key>
	<dict>
		<key>u1280</key>
		<string>ኀ</string>
		<key>u1281</key>
		<string>ኁ</string>
		<key>u1282</key>
		<string>ኂ</string>
		<key>u1283</key>
		<string>ኃ</string>
		<key>u1284</key>
		<string>ኄ</string>
		<key>u1285</key>
		<string>ኅ</string>
		<key>u1286</key>
		<string>ኆ</string>
		<key>u1287</key>
		<string>ኇ</string>
		<key>u1288</key>
		<string>ኈ</string>
		<key>u1289</key>
		<string></string>
		<key>u128a</key>
		<string>ኊ</string>
		<key>u128b</key>
		<string>ኋ</string>
		<key>u128c</key>
		<string>ኌ</string>
		<key>u128d</key>
		<string>ኍ</string>
		<key>u128e</key>
		<string></string>
		<key>u128f</key>
		<string></string>
	</dict>
	<key>u129</key>
	<dict>
		<key>u1290</key>
		<string>ነ</string>
		<key>u1291</key>
		<string>ኑ</string>
		<key>u1292</key>
		<string>ኒ</string>
		<key>u1293</key>
		<string>ና</string>
		<key>u1294</key>
		<string>ኔ</string>
		<key>u1295</key>
		<string>ን</string>
		<key>u1296</key>
		<string>ኖ</string>
		<key>u1297</key>
		<string>ኗ</string>
		<key>u1298</key>
		<string>ኘ</string>
		<key>u1299</key>
		<string>ኙ</string>
		<key>u129a</key>
		<string>ኚ</string>
		<key>u129b</key>
		<string>ኛ</string>
		<key>u129c</key>
		<string>ኜ</string>
		<key>u129d</key>
		<string>ኝ</string>
		<key>u129e</key>
		<string>ኞ</string>
		<key>u129f</key>
		<string>ኟ</string>
	</dict>
	<key>u12a</key>
	<dict>
		<key>u12a0</key>
		<string>አ</string>
		<key>u12a1</key>
		<string>ኡ</string>
		<key>u12a2</key>
		<string>ኢ</string>
		<key>u12a3</key>
		<string>ኣ</string>
		<key>u12a4</key>
		<string>ኤ</string>
		<key>u12a5</key>
		<string>እ</string>
		<key>u12a6</key>
		<string>ኦ</string>
		<key>u12a7</key>
		<string>ኧ</string>
		<key>u12a8</key>
		<string>ከ</string>
		<key>u12a9</key>
		<string>ኩ</string>
		<key>u12aa</key>
		<string>ኪ</string>
		<key>u12ab</key>
		<string>ካ</string>
		<key>u12ac</key>
		<string>ኬ</string>
		<key>u12ad</key>
		<string>ክ</string>
		<key>u12ae</key>
		<string>ኮ</string>
		<key>u12af</key>
		<string>ኯ</string>
	</dict>
	<key>u12b</key>
	<dict>
		<key>u12b0</key>
		<string>ኰ</string>
		<key>u12b1</key>
		<string></string>
		<key>u12b2</key>
		<string>ኲ</string>
		<key>u12b3</key>
		<string>ኳ</string>
		<key>u12b4</key>
		<string>ኴ</string>
		<key>u12b5</key>
		<string>ኵ</string>
		<key>u12b6</key>
		<string></string>
		<key>u12b7</key>
		<string></string>
		<key>u12b8</key>
		<string>ኸ</string>
		<key>u12b9</key>
		<string>ኹ</string>
		<key>u12ba</key>
		<string>ኺ</string>
		<key>u12bb</key>
		<string>ኻ</string>
		<key>u12bc</key>
		<string>ኼ</string>
		<key>u12bd</key>
		<string>ኽ</string>
		<key>u12be</key>
		<string>ኾ</string>
		<key>u12bf</key>
		<string></string>
	</dict>
	<key>u12c</key>
	<dict>
		<key>u12c0</key>
		<string>ዀ</string>
		<key>u12c1</key>
		<string></string>
		<key>u12c2</key>
		<string>ዂ</string>
		<key>u12c3</key>
		<string>ዃ</string>
		<key>u12c4</key>
		<string>ዄ</string>
		<key>u12c5</key>
		<string>ዅ</string>
		<key>u12c6</key>
		<string></string>
		<key>u12c7</key>
		<string></string>
		<key>u12c8</key>
		<string>ወ</string>
		<key>u12c9</key>
		<string>ዉ</string>
		<key>u12ca</key>
		<string>ዊ</string>
		<key>u12cb</key>
		<string>ዋ</string>
		<key>u12cc</key>
		<string>ዌ</string>
		<key>u12cd</key>
		<string>ው</string>
		<key>u12ce</key>
		<string>ዎ</string>
		<key>u12cf</key>
		<string>ዏ</string>
	</dict>
	<key>u12d</key>
	<dict>
		<key>u12d0</key>
		<string>ዐ</string>
		<key>u12d1</key>
		<string>ዑ</string>
		<key>u12d2</key>
		<string>ዒ</string>
		<key>u12d3</key>
		<string>ዓ</string>
		<key>u12d4</key>
		<string>ዔ</string>
		<key>u12d5</key>
		<string>ዕ</string>
		<key>u12d6</key>
		<string>ዖ</string>
		<key>u12d7</key>
		<string></string>
		<key>u12d8</key>
		<string>ዘ</string>
		<key>u12d9</key>
		<string>ዙ</string>
		<key>u12da</key>
		<string>ዚ</string>
		<key>u12db</key>
		<string>ዛ</string>
		<key>u12dc</key>
		<string>ዜ</string>
		<key>u12dd</key>
		<string>ዝ</string>
		<key>u12de</key>
		<string>ዞ</string>
		<key>u12df</key>
		<string>ዟ</string>
	</dict>
	<key>u12e</key>
	<dict>
		<key>u12e0</key>
		<string>ዠ</string>
		<key>u12e1</key>
		<string>ዡ</string>
		<key>u12e2</key>
		<string>ዢ</string>
		<key>u12e3</key>
		<string>ዣ</string>
		<key>u12e4</key>
		<string>ዤ</string>
		<key>u12e5</key>
		<string>ዥ</string>
		<key>u12e6</key>
		<string>ዦ</string>
		<key>u12e7</key>
		<string>ዧ</string>
		<key>u12e8</key>
		<string>የ</string>
		<key>u12e9</key>
		<string>ዩ</string>
		<key>u12ea</key>
		<string>ዪ</string>
		<key>u12eb</key>
		<string>ያ</string>
		<key>u12ec</key>
		<string>ዬ</string>
		<key>u12ed</key>
		<string>ይ</string>
		<key>u12ee</key>
		<string>ዮ</string>
		<key>u12ef</key>
		<string>ዯ</string>
	</dict>
	<key>u12f</key>
	<dict>
		<key>u12f0</key>
		<string>ደ</string>
		<key>u12f1</key>
		<string>ዱ</string>
		<key>u12f2</key>
		<string>ዲ</string>
		<key>u12f3</key>
		<string>ዳ</string>
		<key>u12f4</key>
		<string>ዴ</string>
		<key>u12f5</key>
		<string>ድ</string>
		<key>u12f6</key>
		<string>ዶ</string>
		<key>u12f7</key>
		<string>ዷ</string>
		<key>u12f8</key>
		<string>ዸ</string>
		<key>u12f9</key>
		<string>ዹ</string>
		<key>u12fa</key>
		<string>ዺ</string>
		<key>u12fb</key>
		<string>ዻ</string>
		<key>u12fc</key>
		<string>ዼ</string>
		<key>u12fd</key>
		<string>ዽ</string>
		<key>u12fe</key>
		<string>ዾ</string>
		<key>u12ff</key>
		<string>ዿ</string>
	</dict>
	<key>u130</key>
	<dict>
		<key>u1300</key>
		<string>ጀ</string>
		<key>u1301</key>
		<string>ጁ</string>
		<key>u1302</key>
		<string>ጂ</string>
		<key>u1303</key>
		<string>ጃ</string>
		<key>u1304</key>
		<string>ጄ</string>
		<key>u1305</key>
		<string>ጅ</string>
		<key>u1306</key>
		<string>ጆ</string>
		<key>u1307</key>
		<string>ጇ</string>
		<key>u1308</key>
		<string>ገ</string>
		<key>u1309</key>
		<string>ጉ</string>
		<key>u130a</key>
		<string>ጊ</string>
		<key>u130b</key>
		<string>ጋ</string>
		<key>u130c</key>
		<string>ጌ</string>
		<key>u130d</key>
		<string>ግ</string>
		<key>u130e</key>
		<string>ጎ</string>
		<key>u130f</key>
		<string>ጏ</string>
	</dict>
	<key>u131</key>
	<dict>
		<key>u1310</key>
		<string>ጐ</string>
		<key>u1311</key>
		<string></string>
		<key>u1312</key>
		<string>ጒ</string>
		<key>u1313</key>
		<string>ጓ</string>
		<key>u1314</key>
		<string>ጔ</string>
		<key>u1315</key>
		<string>ጕ</string>
		<key>u1316</key>
		<string></string>
		<key>u1317</key>
		<string></string>
		<key>u1318</key>
		<string>ጘ</string>
		<key>u1319</key>
		<string>ጙ</string>
		<key>u131a</key>
		<string>ጚ</string>
		<key>u131b</key>
		<string>ጛ</string>
		<key>u131c</key>
		<string>ጜ</string>
		<key>u131d</key>
		<string>ጝ</string>
		<key>u131e</key>
		<string>ጞ</string>
		<key>u131f</key>
		<string>ጟ</string>
	</dict>
	<key>u132</key>
	<dict>
		<key>u1320</key>
		<string>ጠ</string>
		<key>u1321</key>
		<string>ጡ</string>
		<key>u1322</key>
		<string>ጢ</string>
		<key>u1323</key>
		<string>ጣ</string>
		<key>u1324</key>
		<string>ጤ</string>
		<key>u1325</key>
		<string>ጥ</string>
		<key>u1326</key>
		<string>ጦ</string>
		<key>u1327</key>
		<string>ጧ</string>
		<key>u1328</key>
		<string>ጨ</string>
		<key>u1329</key>
		<string>ጩ</string>
		<key>u132a</key>
		<string>ጪ</string>
		<key>u132b</key>
		<string>ጫ</string>
		<key>u132c</key>
		<string>ጬ</string>
		<key>u132d</key>
		<string>ጭ</string>
		<key>u132e</key>
		<string>ጮ</string>
		<key>u132f</key>
		<string>ጯ</string>
	</dict>
	<key>u133</key>
	<dict>
		<key>u1330</key>
		<string>ጰ</string>
		<key>u1331</key>
		<string>ጱ</string>
		<key>u1332</key>
		<string>ጲ</string>
		<key>u1333</key>
		<string>ጳ</string>
		<key>u1334</key>
		<string>ጴ</string>
		<key>u1335</key>
		<string>ጵ</string>
		<key>u1336</key>
		<string>ጶ</string>
		<key>u1337</key>
		<string>ጷ</string>
		<key>u1338</key>
		<string>ጸ</string>
		<key>u1339</key>
		<string>ጹ</string>
		<key>u133a</key>
		<string>ጺ</string>
		<key>u133b</key>
		<string>ጻ</string>
		<key>u133c</key>
		<string>ጼ</string>
		<key>u133d</key>
		<string>ጽ</string>
		<key>u133e</key>
		<string>ጾ</string>
		<key>u133f</key>
		<string>ጿ</string>
	</dict>
	<key>u134</key>
	<dict>
		<key>u1340</key>
		<string>ፀ</string>
		<key>u1341</key>
		<string>ፁ</string>
		<key>u1342</key>
		<string>ፂ</string>
		<key>u1343</key>
		<string>ፃ</string>
		<key>u1344</key>
		<string>ፄ</string>
		<key>u1345</key>
		<string>ፅ</string>
		<key>u1346</key>
		<string>ፆ</string>
		<key>u1347</key>
		<string>ፇ</string>
		<key>u1348</key>
		<string>ፈ</string>
		<key>u1349</key>
		<string>ፉ</string>
		<key>u134a</key>
		<string>ፊ</string>
		<key>u134b</key>
		<string>ፋ</string>
		<key>u134c</key>
		<string>ፌ</string>
		<key>u134d</key>
		<string>ፍ</string>
		<key>u134e</key>
		<string>ፎ</string>
		<key>u134f</key>
		<string>ፏ</string>
	</dict>
	<key>u135</key>
	<dict>
		<key>u1350</key>
		<string>ፐ</string>
		<key>u1351</key>
		<string>ፑ</string>
		<key>u1352</key>
		<string>ፒ</string>
		<key>u1353</key>
		<string>ፓ</string>
		<key>u1354</key>
		<string>ፔ</string>
		<key>u1355</key>
		<string>ፕ</string>
		<key>u1356</key>
		<string>ፖ</string>
		<key>u1357</key>
		<string>ፖ</string>
		<key>u1358</key>
		<string>ፘ</string>
		<key>u1359</key>
		<string>ፙ</string>
		<key>u135a</key>
		<string>ፚ</string>
		<key>u135b</key>
		<string></string>
		<key>u135c</key>
		<string></string>
		<key>u135d</key>
		<string></string>
		<key>u135e</key>
		<string></string>
		<key>u135f</key>
		<string></string>
	</dict>
	<key>u136</key>
	<dict>
		<key>u1360</key>
		<string>፠</string>
		<key>u1361</key>
		<string>፡</string>
		<key>u1362</key>
		<string>።</string>
		<key>u1363</key>
		<string>፣</string>
		<key>u1364</key>
		<string>፤</string>
		<key>u1365</key>
		<string>፥</string>
		<key>u1366</key>
		<string>፦</string>
		<key>u1367</key>
		<string>፧</string>
		<key>u1368</key>
		<string>፨</string>
		<key>u1369</key>
		<string>፩</string>
		<key>u136a</key>
		<string>፪</string>
		<key>u136b</key>
		<string>፫</string>
		<key>u136c</key>
		<string>፬</string>
		<key>u136d</key>
		<string>፭</string>
		<key>u136e</key>
		<string>፮</string>
		<key>u136f</key>
		<string>፯</string>
	</dict>
	<key>u137</key>
	<dict>
		<key>u1370</key>
		<string>፰</string>
		<key>u1371</key>
		<string>፱</string>
		<key>u1372</key>
		<string>፲</string>
		<key>u1373</key>
		<string>፳</string>
		<key>u1374</key>
		<string>፴</string>
		<key>u1375</key>
		<string>፵</string>
		<key>u1376</key>
		<string>፶</string>
		<key>u1377</key>
		<string>፷</string>
		<key>u1378</key>
		<string>፸</string>
		<key>u1379</key>
		<string>፹</string>
		<key>u137a</key>
		<string>፺</string>
		<key>u137b</key>
		<string>፻</string>
		<key>u137c</key>
		<string>፼</string>
		<key>u137d</key>
		<string></string>
		<key>u137e</key>
		<string></string>
		<key>u137f</key>
		<string></string>
	</dict>
	<key>u002</key>
	<dict>
		<key>u002e</key>
		<string>.</string>
	</dict>
</dict>
</plist>
